<h2 class="<%= @current.metadata['type'] || 'other' %>">
  <% if type = @current.metadata['type'] %>
    <span><%= type %>: </span>
  <% end %>

  <%= @current.metadata['title'] %></h2>


<article>
  <%= yield %>
</article>
